
/* GLOBAL CSS */
@media only screen and (min-width: 0rem) {
    /* Debug code tip */
    /* * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
      } */
    body { 
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        width: 100vw;
        overflow-x: hidden;
        box-sizing: border-box;
       
    }
    
    html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}
    a {
        text-decoration: none;
        cursor: pointer;
    }
    button {
        all: unset;

    }
    button:hover {
        cursor: pointer;
    }
    button > * {
        pointer-events: none;
    }
    button:focus {
        outline: revert;
      }
    
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0.5rem 0;
        padding: 0;
        opacity: 0.4;
    }
    
    ul {
        margin: 0; 
        list-style-type: none;
    }
    ol {
        list-style-type: none;

    }
    a {
        color: inherit;
    }

    section {
        /* width: 100%; */
        max-width: 100%;
        margin: 0;
        padding: 0;
        
    }
    /* img {
        width: 100%;
    } */
    svg {
        overflow: visible;
    }
    p {
        margin: 0;
        padding: 0;
    }

    h5 {
        margin: 0;
    }
}

/* REGULAR CSS */
@media only screen and (min-width: 0rem) {
    #section-header {
        z-index: 998;
    }
    #header-container {
        display: flex;
        padding: 50px 80px;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        /* z-index: 999; */


    }
    #header-button {
        width: 160px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(10deg) brightness(117%) contrast(108%);

    }
    #nav-main {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin:  0 140px 0 0;
        color: white;
        align-items: center;
    }
    #nav-main li {
        padding: 0 30px;
    }
    #nav-main a {
        display: inline-block;
        position: relative;
        
        font-weight: 100;
        
    }
    
    #nav-main a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        margin: 3rem 0 0 0;
        height: 0.1rem;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      
      }

    #nav-main a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
      
    /* DROPDOWN CSS */
    #dropdown {
        width: 26px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(10deg) brightness(117%) contrast(108%);
    }
    #dropdown circle {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
    
    
    #dropdown:hover #circle-1 {
        transform: translateX(-2px);
        transition: transform 0.2s ease;
    }
    #dropdown:hover #circle-3 {
        transform: translateX(2px);
        transition: transform 0.2s ease;
    }

    #dropdown-page {
        position: fixed;
        width: 100%;
        height: 100vh;
        color: #f9cdcd;
        top: 0;
        left: 0;
        background-color: #252422;
        font-size: 0.9rem;
        font-weight: 100;
        z-index: 998;
    }

    #dropdown-page header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 80px 50px 80px;
       
       
    }

    #dropdown-page #left-side {
        display: flex;
        align-items: middle;
       
    }

    #dropdown-page > header > #left-side::before {
        content: "●";
        flex: 0 0 3rem;
    }

    #dropdown-page p{
        flex: 0 0 15rem;
    }
    
    #exit-button {
        width: 1rem;
        border: 0.1rem solid #ffffff;
        border-radius: 50%;
        padding: 0.6rem 0.7rem;
    }

    #exit-button img {
        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(344deg) brightness(103%) contrast(102%);

    }
    
        /* DROPDOWN BODY */
    
    #dropdown-body {
        display: flex;
        padding: 0;
        margin: 0 80px;
        position: relative;
        overflow-x:scroll;
       
    }

    .dropdown-body_content {
        flex: 0 0 32%;
     
        margin: 0 0.6rem;
        position: relative;
        overflow: visible;
       
        
    }


    .dropdown-body_content picture::after {
        content: counter(menu-initiatives, decimal-leading-zero);
        position: absolute;
        top: 87%;
        left: calc(0% - 7px);
        font-size: 0.7rem;
        z-index: 999;
        overflow: visible;
        
        

    }
    .dropdown-body_image {
       
        display: flex;
        flex-direction: column;
        overflow: hidden;
        /* counter-increment: menu-initiatives; */
       
    }
    .dropdown-body_content picture {
        display: flex;
       
        align-items: center;
        justify-content: center;
        width: 98%;
        max-height: 25vw;
        counter-increment: menu-initiatives;
        
       
    }

    .dropdown-body_content picture::before {
        content: '';
        width: 0.01rem;
        height: calc(100% - 6rem);
        background-color: white;
        position: absolute;
        top: 0;
        left: calc(0% - 9px); 
      
        
    }
    .dropdown-body_content img {
        width: 110%;
    }
    
    .dropdown-body_info-container {
        position: relative;
        background-color: #252422;
   
    
    }
  
    .dropdown-body_content:hover > .dropdown-body_image + .dropdown-body_info-container > .dropdown-body_info {
            transform: translateY(-70%);
            transition: transform 0.5s ease;
        
    }
    .dropdown-body_content:hover > .dropdown-body_image > picture > img   {
        transform: scale(0.94);
        transition: transform 0.5s ease;
    }

    .dropdown-body_image img {
        transform: scale(1);
        transition: transform 0.5s ease;
    }

    .dropdown-body_info {
        display: flex;
        justify-content: space-between;
        transform: translateY(0);
        transition: transform 0.5s ease;
        background-color: #252422; 
        padding: 20px 25px 30% 25px;
        background-clip: padding-box;

    }
    .dropdown-body_info-2 {
        position: absolute;
    } 
    .dropdown-body_info > #left-side {
        display: flex;
        flex-direction: column;
    }

    .dropdown-body_info > #left-side > h5{
        font-size: 1.3rem;
        font-weight: 500;
        margin: 0 0 0.5rem 0;
    }
    .dropdown-body_info > #left-side > h5 + span{
        font-size: 0.7rem;
    }
    .dropdown-body_info > #left-side + #right-side> h5{
        font-size: 1.3rem;
        font-weight: 500;
    }

    #p-week {
        margin: 2rem 0 1.7rem 0;
    }
    #p-visit {
        font-weight: 500;
        padding: 0 0 2rem 0;
    }
    .dropdown-body_info-2 {
        position: absolute;
        top: -10%;
        padding: 0 25px;
        opacity: 0;
        z-index: 999;
        transform: translateY(0);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    .dropdown-body_content:hover > .dropdown-body_image + 
    .dropdown-body_info-container > .dropdown-body_info + .dropdown-body_info-2 {
        visibility: visible;
        opacity: 1;
        transform: translateY(-30%);
        transition: transform 0.5s ease,  opacity 0.5s ease;
    }
    

    /* VIDEO CSS */
    #video-container {
        width: 100%;
        max-height: 80%;
        overflow: hidden;
        
    
    }
    #video-header {
        display: flex;
        align-items: center;
        width: 100%;
    }
  
   


}