
/* GLOBAL CSS */
@media only screen and (min-width: 0rem) {
    /* Debug code tip */
    /* * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
      } */
    body { 
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        width: 100vw;
        overflow-x: clip;
        box-sizing: border-box;
        background-color: #f4f4f4;
        transition: all 1s ease;
       
    }
    :root {
        --border-color: black;
        --bg-color: #f4f4f4;
    }
    html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}
    a {
        text-decoration: none;
        cursor: pointer;
    }
    button {
        all: unset;

    }
    button:hover {
        cursor: pointer;
    }
    button > * {
        pointer-events: none;
    }
    button:focus {
        outline: revert;
      }
    
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #000000;
        padding: 0;
       
    }
    
    ul {
        margin: 0; 
        list-style-type: none;
        padding: 0;
    }
    ol {
        list-style-type: none;

    }
    a {
        color: inherit;
    }

    section {
        /* width: 100%; */
        max-width: 100%;
        margin: 0;
        padding: 0;
        
    }
    /* img {
        width: 100%;
    } */
    svg {
        overflow: visible;
    }
    p {
        margin: 0;
        padding: 0;
    }

    h5 {
        margin: 0;
    }
}

/* REGULAR CSS */
@media only screen and (min-width: 0rem) {
    #section-header {
        z-index: 998;
    }
    #header-container {
        display: flex;
        padding: 50px 80px;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        /* background-color: var(--bg-color); */
       


    }


    #header-button {
        width: 160px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(10deg) brightness(117%) contrast(108%);

    }
    #button-main_menu {
        color: white;
        font-size: 1.5rem;
        background-color: black;
        display: none;
    }
    #nav-main {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin:  0 140px 0 0;
        color: white;
        align-items: center;
    }
    #nav-main li {
        padding: 0 30px;
    }
    #nav-main a {
        display: inline-block;
        position: relative;
        
        font-weight: 100;
        
    }
    
    #nav-main a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        margin: 3rem 0 0 0;
        height: 0.1rem;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      
      }

    #nav-main a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
      
    /* DROPDOWN CSS */
    #dropdown {
        width: 26px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(10deg) brightness(117%) contrast(108%);
    }
    #dropdown circle {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
    
    
    #dropdown:hover #circle-1 {
        transform: translateX(-2px);
        transition: transform 0.2s ease;
    }
    #dropdown:hover #circle-3 {
        transform: translateX(2px);
        transition: transform 0.2s ease;
    }

    #dropdown-page {
        position: fixed;
        width: 100%;
        height: 100vh;
        color: #f9cdcd;
        top: 0;
        left: 0;
        background-color: #252422;
        font-size: 0.9rem;
        font-weight: 100;
        z-index: 998;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
   #dropdown-page.visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s ease;
   }
   #animation-slide {
        width: 100%;
        height: 100%;
        background-color: #252422;
        position: absolute;
        z-index: 2;
   }
   #animation-slide.slider {
        transform: translateX(-100%);
        transition: transform 1s cubic-bezier(0.77,0,0.175,1); 
   }
   #dropdown-body.slider {
        transform: translateX(0);
        
        transition: transform 1s cubic-bezier(0.77,0,0.175,1);
   }
 
    #dropdown-page header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 80px 50px 80px;
       
       
    }

    #dropdown-page #left-side {
        display: flex;
        align-items: middle;
       
    }

    #dropdown-page > header > #left-side::before {
        content: "●";
        flex: 0 0 3rem;
    }

    #dropdown-page p{
        flex: 0 0 15rem;
    }
    
    #exit-button {
        width: 1rem;
        border: 0.1rem solid #ffffff;
        border-radius: 50%;
        padding: 0.6rem 0.7rem;
    }

    #exit-button img {
        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(344deg) brightness(103%) contrast(102%);

    }
    
        /* DROPDOWN BODY */
    
    #dropdown-page #left-side-2 {
        display: none;
    }
    #dropdown-body-2 {
        display: none;
    }
    #dropdown-body {
        display: flex;
        padding: 0 5rem 0 0;
        cursor: none;
        position: relative;
        overflow-x: scroll;
        transform: translateX(10%);
        overflow-y: hidden;
        user-select: none;
       
    }
    #dropdown-body img {
         
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
   
    .cursor-container {
        width: 7rem;
        height: 7rem;
        z-index: 2;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;

        position: relative;
    }
   #cursor-drop {
        position: sticky;
        background-color: #f9cdcd;
        top: 20%;
        left: 90%;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
   }
   #cursor-drop.drag {
        /* transform: scale(0.7); */
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        
   }

   #cursor-drop.drag > .cursor > .caret-container + span {
        visibility: hidden;
   }
  
   .cursor-container span{
        color: #252422;
        padding: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
   }

   .cursor {
        position: relative;
        display: flex;
        
   }

   .caret-container {
        position: absolute;
        width: 7rem;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        transition: transform 0.2s cubic-bezier(0.77,0,0.175,1); 

        /* filter: brightness(0) saturate(100%) invert(10%) sepia(6%) saturate(954%) hue-rotate(294deg) brightness(82%) contrast(85%); */
   }

   #cursor-drop.drag > .cursor > .caret-container {
        /* width: 20rem; */
        transform: translate(-50%, -50%) scale(2);
        transform-origin: center;
        transition: transform 0.2s cubic-bezier(0.77,0,0.175,1); 
   } 
   .caret-container img {
        width: 1rem;
        
   }
   #caret-1 {
        transform: rotate(-90deg);
        left: 0;
        top: 42.5%;
   }

   #caret-2 {
        transform: rotate(90deg);
        top: 0;
        right: 0;
   }
    .dropdown-body_content {
        flex: 0 0 30%;
     
        margin: 0 0.6rem;
        position: relative;
        overflow: visible;
       
        
    }


    .dropdown-body_content picture::after {
        content: counter(menu-initiatives, decimal-leading-zero);
        position: absolute;
        top: 87%;
        left: calc(0% - 7px);
        font-size: 0.7rem;
        z-index: 1;
        overflow: visible;
        
        

    }
    .dropdown-body_image {
       
        display: flex;
        flex-direction: column;
        overflow: hidden;
       
    }
    .dropdown-body_content picture {
        display: flex;
       
        align-items: center;
        justify-content: center;
        width: 98%;
        max-height: 20vw;
        counter-increment: menu-initiatives;
        
       
    }

    .dropdown-body_content picture::before {
        content: '';
        width: 0.01rem;
        height: calc(100% - 6rem);
        background-color: white;
        position: absolute;
        top: 0;
        left: calc(0% - 9px); 
      
        
    }
    .dropdown-body_content img {
        width: 110%;
    }
    
    .dropdown-body_info-container {
        position: relative;
        background-color: #252422;
   
    
    }
  
    .dropdown-body_content:hover > .dropdown-body_image + .dropdown-body_info-container > .dropdown-body_info {
            transform: translateY(-70%);
            transition: transform 0.5s ease;
        
    }
    .dropdown-body_content:hover > .dropdown-body_image > picture > img   {
        transform: scale(0.94);
        transition: transform 0.5s ease;
    }

    .dropdown-body_image img {
        transform: scale(1);
        transition: transform 0.5s ease;
    }

    .dropdown-body_info {
        display: flex;
        justify-content: space-between;
        transform: translateY(0);
        transition: transform 0.5s ease;
        background-color: #252422; 
        padding: 20px 25px 30% 25px;
        background-clip: padding-box;

    }
    .dropdown-body_info-2 {
        position: absolute;
    } 
    .dropdown-body_info > #left-side {
        display: flex;
        flex-direction: column;
    }

    .dropdown-body_info > #left-side > h5{
        font-size: 1.3rem;
        font-weight: 500;
        margin: 0 0 0.5rem 0;
    }
    .dropdown-body_info > #left-side > h5 + span{
        font-size: 0.7rem;
    }
    .dropdown-body_info > #left-side + #right-side> h5{
        font-size: 1.3rem;
        font-weight: 500;
    }

    #p-week {
        margin: 2rem 0 1.7rem 0;
    }
    #p-visit {
        font-weight: 500;
        padding: 0 0 2rem 0;
    }
    .dropdown-body_info-2 {
        position: absolute;
        top: -10%;
        padding: 0 25px;
        opacity: 0;
        z-index: 1;
        transform: translateY(0);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    .dropdown-body_content:hover > .dropdown-body_image + 
    .dropdown-body_info-container > .dropdown-body_info + .dropdown-body_info-2 {
        visibility: visible;
        opacity: 1;
        transform: translateY(-30%);
        transition: transform 0.5s ease,  opacity 0.5s ease;
    }
    

    /* --FOOTER  */
    #dropdown-footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 80px 0px 80px;
        color: #525252;
    }
    
    /* VIDEO CSS */

    #video-container {
        display: flex;
        width: 100%;
        height: 66rem;
        overflow: clip;
        position: relative;
        background-color: black;
        background-size: cover;
    }
    #video-header_container {
        display: flex;
        align-items: center;
        height: 66rem;
        width: 100%;
        position: absolute;   
        overflow: clip;
        cursor: none;
        
        
    }
    #video-header_container video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    #cursor-video {
        position: sticky;
        background-color: white;
        left: 50%;
        top: 50%;
        font-size: 0.9rem;
        z-index: 2;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
       
    }
    #cursor-video.sticky {
        position: sticky;
    }
    #cursor-video_content {
        position: relative;
       
    }
    #span-video {
        position: absolute;
        top: calc(100% + 1rem);
        color: white;
        font-size: 0.9rem;
        padding: 0;
        font-weight: 500;
    }
    .cursor {
        justify-content: center;

    }
    
    /* --AWARDS  */
    #awards-container {
        display: flex;
        padding: 15% 3%;
        justify-content: center;
       
    }
    .awards-container_li {
        flex: 1 1;
        display: inline-flex;
        justify-content: center;
    }
    .awards-container_li a {
        width: 50%;
        display: inline-flex;
        flex-flow: column;
        align-items: center;
    }
    .awards-container_li a:hover > img {
        transform: scale(1.1);
        transition: transform 0.4s ease;
    }
    .awards-container_li a:hover > img + span {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    .awards-container_li span {
        margin-top: 2rem;
        text-align: center;
        max-width: 12rem;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .awards-container_li img {
        transform: scale(1);
        transition: transform 0.4s ease;
        width: 75%;
        aspect-ratio: 175/101;
    }


    /* WORK section CSS */

    #section-work {
        padding: 0 3rem;

    }
    #hor-line-work_top {
        margin-bottom: 5rem;
    }
    #work-info_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    #work-info_container p{
        width: 50%;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    #work-info_container img {
        width: 40%;
        margin: 0 0 0 auto;
        transition: transform 0.5s ease; 
    }
    .button-anim{
       
        padding: 0.6rem 2rem;
        border: .1rem solid;
        border-radius: 1.5rem;
        
        font-size: 0.7rem;
        text-wrap: nowrap;
        position: relative;
        overflow: hidden;
        
       
    }
    .button-anim a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .button-anim span {
        position:relative;
        z-index: 10;
    }

    .button-anim a::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        top: 0;
        transform: translate( 0 , 100%);
        bottom: -0.1rem;
        transition: transform 0.2s ease-out;
        z-index: 0;
      
    }
    .button-anim:hover  a::after {
        transform: translate(0);
    }
    .button-anim:hover {
        transition: all 0.2s;
       
    }
    .button-anim:hover a {
        color: #f9cdcd;
      
    }
    #work-gallery_container {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
       
        
    }
    .work-gallery {
        display: flex;
        flex-direction: column;
        width: 32%;
        
        overflow: hidden;
    
        
       
    }
    .work-gallery:hover > .work-gallery_asset-container > img  {
        transform: scale(1);
        transition: transform 0.5s ease; 
    }
    .work-gallery:hover {
        cursor: pointer;
    }
    .work-gallery_text-container {
        text-transform: uppercase;
    }
    .work-gallery_text-container h3 {
        margin: 1rem 0;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .work-gallery_text-container p {
        font-size: 0.9rem;
        line-height: 1.1rem;
        max-width: 45%;
        font-weight: 300;
    }
    .work-gallery_asset-container { 
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 74%;
      
        
        
    }
    .work-gallery_asset-container img {
        transform: scale(1.1);
        transition: transform 0.5s;
        width: 100%;
       
    }
    .work-gallery_asset-container video {
        object-fit: cover;
        width: 100%;

    }
    /* engage section css  */

        /* horizontal line */
    #hor-line-engage_bottom {
        margin-bottom: 1rem;
         margin: 0 3rem;
    }
    #hor-line-num_container {
        display: flex;
        font-weight: 300;
        font-size: 0.8rem;
        margin: 1% 3rem;
        
    }
    #hor-line-num_left {
        width: 40%;
    }
    #hor-line-num_right {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000000;
        display: inline-block;
    }
    /* featured engagements  */
    #header-featured {
        margin: 6% 0 8% 0;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
        width: 30%;
        padding: 0 3rem;
    }
    #featured-card_container {
        display: flex;
        overflow-x: scroll;
        padding-bottom: 5%;
        cursor: none;
        
    }
    .featured-card {
        word-wrap: break-word;
        width: 24%;
        padding-right: 7%;
        flex-shrink: 0;
       
    }
    .featured-card-img_container {
        height: 2.5rem;
        position: relative;
        margin-bottom: 1rem;
    }
    
    .featured-card-img_container img {
        height: 100%;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .featured-card-text_container {
        padding-top: 20%;
        position: relative;
        
    }
    .featured-card-text_container::before {
        content: "";
        position: absolute;
        height: 0.15rem;
        width: 1.5rem;
        background-color: black;
        left: 0;
        top: 0;
    }
    .featured-card-text_container h3{
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .featured-card-text_container p {
        line-height: 150%;
        font-size: 1.1rem;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .span-here {
        text-decoration: underline;
        
    }
    .span-here:hover {
        cursor: pointer;
    }
    #featured-card_cursor {
        position: sticky;
        background-color: #f9cdcd;
        top: 20%;
        left: 90%;
        transition-duration: 200ms;
        transition-timing-function: linear;
        
   }
   #featured-card_cursor.drag {
        /* transform: scale(0.7); */
        transition-duration: 200ms;
        transition-timing-function: linear;
        
   }
   #featured-card_cursor.drag > .cursor > .caret-container + span {
        visibility: hidden;
   }
   #featured-card_cursor.drag > .cursor > .caret-container {
        /* width: 20rem; */
        transform: translate(-50%, -50%) scale(2);
        transform-origin: center;
        transition: transform 0.2s cubic-bezier(0.77,0,0.175,1); 
    } 
    /* about section */
    #section-about {
        padding: 0 3rem;
        margin: 20% 0;
    }
    #about-container {
        display: flex;
    }
    #about-text_container {
        width: 60%;
        text-transform: uppercase;
        
    }
    #about-text_container h1 {
        font-size: 6.5vw;
        letter-spacing: -0.3rem;
        line-height: .9;
        margin: 0;
    }
    #label-spotlight {
        display: block;
        font-size: 1.5vw;
        margin: 7% 0 10% 0;
        
    } 
    #about-text {
        position: sticky;
        top: 20px;
    }
    
    #about-video_container {
        display: flex;
        justify-content: flex-end;
      
       
    }
    #about-video_container video{
        width: 90%;
    }
    body.featuredAnim {
        background-color: #000000;
        transition: all 1s ease;
        color: #f9cdcd;

    }
    #button-anim_about span {
        
        transition: transform 0.2s ease-out;
       

    }
  
    #button-anim_about:hover a {
        color:black;
    }
    #button-anim_about a::after {
        background-color:#f9cdcd;
    }
    #button-anim_a span {
        background-color: transparent;
        
    }


    /* news section */
    #section-news {
        padding: 0 3rem;
    }
    #header-news {
        display: flex;
        text-transform: uppercase;
        justify-content: space-between;
       
    }
    #header-news h1 {
        margin: 0;
        font-size: 3vw;
        letter-spacing: -0.3;
        width: 20%;
    }
    #button-anim_news-container {
        display: flex; 
        align-items: center;
    }
    #button_anim-news:hover a{
        color:white;
    }
    #button_anim-news {
        border: .1rem var(--border-color) solid;
    }
    .button-anim.news:hover > a > span {
        color: black;
    }
    
    #button_anim-news a::after {
        /* background-color:#f9cdcd; */
        background-color: var(--border-color);
        
        overflow: hidden;
    }
    .news-list_item {
        margin-top: 6%;
    }
    .news-list_item a {
        display: flex;
        position: relative;
        padding-top: 1.5rem;
    }
    .news-list_item a::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: .05rem;
    background-color: currentcolor;
    content: "";
    }
    .news-list-item_a:hover > .news-list-item_img > img {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
    .news-list-item_a:hover > .news-list-item_img + .news-list-item_desc > .news-list-item_desc-text > h5 {
        text-decoration: underline;
    }
    .news-list-item_a:hover > .news-list-item_img + .news-list-item_desc > .news-list-item_desc-text + .news-list-item_desc-arrow > .news-list-item_desc-arrow_2 > #news-arrow_1 {
        transform: translateX(100%);
        transition: transform 0.2s;
    }
    .news-list-item_a:hover > .news-list-item_img + .news-list-item_desc > .news-list-item_desc-text + .news-list-item_desc-arrow > .news-list-item_desc-arrow_2 > #news-arrow_1 + #news-arrow_2 {
        transform: translateX(100%);
        transition: transform 0.2s;
        transition-delay: 0.3s;
    }
    
    .news-list-item_img {
        width: 30%;
        overflow: hidden;
    }
    .news-list-item_img img {
        width: 100%;
        transform: scale(1.1); 
        transition: 0.3s;
        
    }

    .news-list-item_desc {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    .news-list-item_desc-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        margin-left: 2%;
        
        text-transform: uppercase;
        
    }
    .news-list-item_desc-text h5 {
        font-size: 2.5vw;
        font-weight: 500;

      
    }
    .news-list-item_desc-text span {
        font-size: 0.9vw;
    }
    .news-list-item_desc-arrow {
        display: flex;
        justify-content: flex-end;
        width: 40%;
        
    }
    .news-list-item_desc-arrow_2 {
        position: relative;
        width: 1.5rem;
        overflow: hidden;
       
    }
    .news-list-item_desc-arrow_2 img{
        width: 100%;
    }
    #news-arrow_1:hover {
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }
    #news-arrow_2 {
        position: absolute;
        left: -2;
        margin-left: -48px;

    }

   
    



    


   
   
}


/* MOBILE CSS */
@media only screen and (min-width: 0rem) {
    @media (max-width: 1280px){
        
        #nav-main {
            display: none;
        }
        #button-main_menu {
            display: block;
        }
        #dropdown {
            display: none;
        }
        #animation-slide {
            display: none;
        }
       
       
        #dropdown-page footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 3% 5%;
        }
        #dropdown-page #left-side {
            display: none;
        }

        #dropdown-page #left-side-2 {
            display: block;
            width: 135px;

        }
        #dropdown-page #left-side-2 img {
            filter: invert(80%) sepia(7%) saturate(907%) hue-rotate(314deg) brightness(106%) contrast(95%);
        }

        #dropdown-body {
            display: none;
          
        }

        #dropdown-body-2 {
            display: block;
            font-size: 160%;
            font-weight: 500;
            padding: 0 80px;
        }
        #dropdown-body-2 li {
            margin-top: 1.5rem;
        }

        /* WORKS SECTION  */
        #work-info_container {
            flex-direction: column;
        }
        #work-info_container p {
            width: 80%;
            font-size: 1.5rem;
        }
        #work-gallery_container {
            overflow-x: scroll;
        }
        #work-gallery_container li:not(:first-child) {
            margin-left: 1rem;
        }
        .work-gallery {
            width: 60%;
            flex-shrink: 0;

        }

        /* featured engagements  */
        #header-featured {
            font-size: 1.5rem;
        }
        .featured-card {
            width: 40%;
        }
    }
    @media (max-width: 700px){
        /* ABOUT SECTION */
        #about-video_container video {
            width: 100%;
        }
        #about-container {
            display: flex;
            flex-direction: column-reverse;
        }
        #about-text_container {
            width: 100%;
            margin-top: 8%;
        }
        #about-text_container h1 {
            letter-spacing: normal;
        }
        #label-spotlight {
            font-size: 2vw;
        }

        /* NEWS SECTION */
        .news-list_item {
            margin-top: 4%;
        }
        .news-list-item_a {
            flex-direction: column;
        }
        .news-list-item_img {
            width: 100%;
        }
        .news-list-item_desc {
            position: relative;
            width: 100%;
            margin-top: 3%;
            
        }
        .news-list-item_desc-text {
            width: 100%;
            margin-left: 0;
        }
        .news-list-item_desc-text h5 {
            font-size: 1.2rem;
        }
        .news-list-item_desc-text span {
            font-size: 1.5vw;
            margin-top: 10%;
        }
        .news-list-item_desc-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    @media (max-width: 650px){
        /* WORK SECTION */
        #work-info_container p {
            width: 95%;
            font-size: 1.2rem;
        }
        .work-gallery_text-container h3 {
            font-size: 0.7rem;
        }
        .work-gallery_text-container p {
            font-size: 0.5rem;
            line-height: 0.5rem;
            max-width: 80%;
        }
        /* featured engagements  */
        .featured-card {
            width: 60%;
        }
        .featured-card-text_container p{
            font-size: 80%;
        }
        
    }


    


}
