
/* GLOBAL CSS */
@media only screen and (min-width: 0rem) {
    /* Debug code tip */
    /* * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
      } */
    body { 
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        width: 100vw;
        /* overflow-x: hidden; */
        box-sizing: border-box;
        background-color: #f4f4f4;
       
    }
    
    html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}
    a {
        text-decoration: none;
        cursor: pointer;
    }
    button {
        all: unset;

    }
    button:hover {
        cursor: pointer;
    }
    button > * {
        pointer-events: none;
    }
    button:focus {
        outline: revert;
      }
    
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0.5rem 0;
        padding: 0;
        opacity: 0.4;
    }
    
    ul {
        margin: 0; 
        list-style-type: none;
        padding: 0;
    }
    ol {
        list-style-type: none;

    }
    a {
        color: inherit;
    }

    section {
        /* width: 100%; */
        max-width: 100%;
        margin: 0;
        padding: 0;
        
    }
    /* img {
        width: 100%;
    } */
    svg {
        overflow: visible;
    }
    p {
        margin: 0;
        padding: 0;
    }

    h5 {
        margin: 0;
    }
}

/* REGULAR CSS */
@media only screen and (min-width: 0rem) {
    #section-header {
        z-index: 998;
    }
    #header-container {
        display: flex;
        padding: 50px 80px;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;


    }
    #header-button {
        width: 160px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(10deg) brightness(117%) contrast(108%);

    }
    #button-main_menu {
        color: white;
        font-size: 1.5rem;
        background-color: black;
        display: none;
    }
    #nav-main {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin:  0 140px 0 0;
        color: white;
        align-items: center;
    }
    #nav-main li {
        padding: 0 30px;
    }
    #nav-main a {
        display: inline-block;
        position: relative;
        
        font-weight: 100;
        
    }
    
    #nav-main a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        margin: 3rem 0 0 0;
        height: 0.1rem;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      
      }

    #nav-main a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
      
    /* DROPDOWN CSS */
    #dropdown {
        width: 26px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(10deg) brightness(117%) contrast(108%);
    }
    #dropdown circle {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
    
    
    #dropdown:hover #circle-1 {
        transform: translateX(-2px);
        transition: transform 0.2s ease;
    }
    #dropdown:hover #circle-3 {
        transform: translateX(2px);
        transition: transform 0.2s ease;
    }

    #dropdown-page {
        position: fixed;
        width: 100%;
        height: 100vh;
        color: #f9cdcd;
        top: 0;
        left: 0;
        background-color: #252422;
        font-size: 0.9rem;
        font-weight: 100;
        z-index: 998;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
   #dropdown-page.visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s ease;
   }
   #animation-slide {
        width: 100%;
        height: 100%;
        background-color: #252422;
        position: absolute;
        z-index: 2;
   }
   #animation-slide.slider {
        transform: translateX(-100%);
        transition: transform 1s cubic-bezier(0.77,0,0.175,1); 
   }
   #dropdown-body.slider {
        transform: translateX(0);
        
        transition: transform 1s cubic-bezier(0.77,0,0.175,1);
   }
 
    #dropdown-page header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 80px 50px 80px;
       
       
    }

    #dropdown-page #left-side {
        display: flex;
        align-items: middle;
       
    }

    #dropdown-page > header > #left-side::before {
        content: "â—";
        flex: 0 0 3rem;
    }

    #dropdown-page p{
        flex: 0 0 15rem;
    }
    
    #exit-button {
        width: 1rem;
        border: 0.1rem solid #ffffff;
        border-radius: 50%;
        padding: 0.6rem 0.7rem;
    }

    #exit-button img {
        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(344deg) brightness(103%) contrast(102%);

    }
    
        /* DROPDOWN BODY */
    
    #dropdown-page #left-side-2 {
        display: none;
    }
    #dropdown-body-2 {
        display: none;
    }
    #dropdown-body {
        display: flex;
        padding: 0 5rem 0 0;

        position: relative;
        overflow-x: scroll;
        transform: translateX(10%);
        overflow-y: hidden;
        user-select: none;
       
    }
    #dropdown-body img {
         
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
   
    .cursor-container {
        width: 7rem;
        height: 7rem;
        z-index: 2;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;

        position: relative;
    }
   #cursor-drop {
        position: sticky;
        background-color: #f9cdcd;
        top: 20%;
        left: 90%;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
   }
   #cursor-drop.drag {
        /* transform: scale(0.7); */
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        
   }

   #cursor-drop.drag > .cursor > .caret-container + span {
        visibility: hidden;
   }
  
   .cursor-container span{
        color: #252422;
        padding: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
   }

   .cursor {
        position: relative;
        display: flex;
        
   }

   .caret-container {
        position: absolute;
        width: 7rem;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        transition: transform 0.2s cubic-bezier(0.77,0,0.175,1); 

        /* filter: brightness(0) saturate(100%) invert(10%) sepia(6%) saturate(954%) hue-rotate(294deg) brightness(82%) contrast(85%); */
   }

   #cursor-drop.drag > .cursor > .caret-container {
        /* width: 20rem; */
        transform: translate(-50%, -50%) scale(2);
        transform-origin: center;
        transition: transform 0.2s cubic-bezier(0.77,0,0.175,1); 
   } 
   .caret-container img {
        width: 1rem;
        
   }
   #caret-1 {
        transform: rotate(-90deg);
        left: 0;
        top: 42.5%;
   }

   #caret-2 {
        transform: rotate(90deg);
        top: 0;
        right: 0;
   }
    .dropdown-body_content {
        flex: 0 0 30%;
     
        margin: 0 0.6rem;
        position: relative;
        overflow: visible;
       
        
    }


    .dropdown-body_content picture::after {
        content: counter(menu-initiatives, decimal-leading-zero);
        position: absolute;
        top: 87%;
        left: calc(0% - 7px);
        font-size: 0.7rem;
        z-index: 1;
        overflow: visible;
        
        

    }
    .dropdown-body_image {
       
        display: flex;
        flex-direction: column;
        overflow: hidden;
       
    }
    .dropdown-body_content picture {
        display: flex;
       
        align-items: center;
        justify-content: center;
        width: 98%;
        max-height: 20vw;
        counter-increment: menu-initiatives;
        
       
    }

    .dropdown-body_content picture::before {
        content: '';
        width: 0.01rem;
        height: calc(100% - 6rem);
        background-color: white;
        position: absolute;
        top: 0;
        left: calc(0% - 9px); 
      
        
    }
    .dropdown-body_content img {
        width: 110%;
    }
    
    .dropdown-body_info-container {
        position: relative;
        background-color: #252422;
   
    
    }
  
    .dropdown-body_content:hover > .dropdown-body_image + .dropdown-body_info-container > .dropdown-body_info {
            transform: translateY(-70%);
            transition: transform 0.5s ease;
        
    }
    .dropdown-body_content:hover > .dropdown-body_image > picture > img   {
        transform: scale(0.94);
        transition: transform 0.5s ease;
    }

    .dropdown-body_image img {
        transform: scale(1);
        transition: transform 0.5s ease;
    }

    .dropdown-body_info {
        display: flex;
        justify-content: space-between;
        transform: translateY(0);
        transition: transform 0.5s ease;
        background-color: #252422; 
        padding: 20px 25px 30% 25px;
        background-clip: padding-box;

    }
    .dropdown-body_info-2 {
        position: absolute;
    } 
    .dropdown-body_info > #left-side {
        display: flex;
        flex-direction: column;
    }

    .dropdown-body_info > #left-side > h5{
        font-size: 1.3rem;
        font-weight: 500;
        margin: 0 0 0.5rem 0;
    }
    .dropdown-body_info > #left-side > h5 + span{
        font-size: 0.7rem;
    }
    .dropdown-body_info > #left-side + #right-side> h5{
        font-size: 1.3rem;
        font-weight: 500;
    }

    #p-week {
        margin: 2rem 0 1.7rem 0;
    }
    #p-visit {
        font-weight: 500;
        padding: 0 0 2rem 0;
    }
    .dropdown-body_info-2 {
        position: absolute;
        top: -10%;
        padding: 0 25px;
        opacity: 0;
        z-index: 1;
        transform: translateY(0);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    .dropdown-body_content:hover > .dropdown-body_image + 
    .dropdown-body_info-container > .dropdown-body_info + .dropdown-body_info-2 {
        visibility: visible;
        opacity: 1;
        transform: translateY(-30%);
        transition: transform 0.5s ease,  opacity 0.5s ease;
    }
    

    /* --FOOTER  */
    #dropdown-footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 80px 0px 80px;
        color: #525252;
    }
    
    /* VIDEO CSS */

    #video-container {
        display: flex;
        width: 100%;
        height: 66rem;
        /* overflow: hidden; */
        position: relative;
        background-color: black;
        background-size: cover;
    }
    #video-header {
        display: flex;
        align-items: center;
        height: 66rem;
        position: absolute;   
        
    }
    #video-1 {
        object-fit: cover;
    }
    
    #cursor-video {
        position: sticky;
        background-color: white;
        left: 50%;
        top: 50%;
        font-size: 0.9rem;
        z-index: 2;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
       
    }
    #cursor-video.sticky {
        position: sticky;
    }
    #cursor-video_content {
        position: relative;
       
    }
    #span-video {
        position: absolute;
        top: calc(100% + 1rem);
        color: white;
        font-size: 0.9rem;
        padding: 0;
        font-weight: 500;
    }
    .cursor {
        justify-content: center;

    }
    
    /* --AWARDS  */
    #awards-container {
        display: flex;
        padding: 15% 3%;
        justify-content: center;
       
    }
    .awards-container_li {
        flex: 1 1;
        display: inline-flex;
        justify-content: center;
    }
    .awards-container_li a {
        width: 50%;
        display: inline-flex;
        flex-flow: column;
        align-items: center;
    }
    .awards-container_li a:hover > img {
        transform: scale(1.1);
        transition: transform 0.4s ease;
    }
    .awards-container_li a:hover > img + span {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    .awards-container_li span {
        margin-top: 2rem;
        text-align: center;
        max-width: 12rem;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .awards-container_li img {
        transform: scale(1);
        transition: transform 0.4s ease;
        width: 75%;
        aspect-ratio: 175/101;
    }

}


/* MOBILE CSS */
@media only screen and (min-width: 0rem) {
    @media (max-width: 1280px){
        
        #nav-main {
            display: none;
        }
        #button-main_menu {
            display: block;
        }
        #dropdown {
            display: none;
        }
        #animation-slide {
            display: none;
        }
       
        #dropdown-page header {
            /* padding: 4% 5%; */
        }
        #dropdown-page footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 3% 5%;
        }
        #dropdown-page #left-side {
            display: none;
        }

        #dropdown-page #left-side-2 {
            display: block;
            width: 135px;

        }
        #dropdown-page #left-side-2 img {
            filter: invert(80%) sepia(7%) saturate(907%) hue-rotate(314deg) brightness(106%) contrast(95%);
        }

        #dropdown-body {
            display: none;
        }

        #dropdown-body-2 {
            display: block;
            font-size: 160%;
            font-weight: 500;
            padding: 0 80px;
        }
        #dropdown-body-2 li {
            margin-top: 1.5rem;
        }
    }

    


}
